<div class="content grid">
  <div class="sidebar span-3">
    <input type="checkbox" class="sidebar-menu-toggle" id="sidebar-menu-toggle">
    <h3>
      <label for="sidebar-menu-toggle" class="sidebar-menu-toggle-label">
        <%= inline_svg_tag 'caret-right.svg', class: 'open' %>
        <%= inline_svg_tag 'caret-down.svg', class: 'close' %>
      </label>
      Compendium
    </h3>
    <%= nav_tree @nav %>
  </div>
  <section class="page span-9">
    <h1><%= @title %></h1>
    <% if @subtitle.present? %>
      <p class="big"><%= @subtitle %></p>
    <% end %>
    <% if @stub %>
      <p class="stub-notice">
        This page does not currently follow our <a href="/compendium/contributing#content-guidelines">content guidelines</a>, and may be incomplete or missing key information. Want to help improve it? <%= link_to "Edit this page on GitHub", "https://github.com/jmarquis/controllers/edit/main/app/views/compendium/content/#{@path}" %> (and make sure to <a href="https://discord.gg/HwtPU7tkCT" target="_blank">join us on Discord</a> to discuss!)
      </p>
    <% end %>
    <%= @content %>
    <footer>
      <%= link_to "Edit this page", "https://github.com/jmarquis/controllers/edit/main/app/views/compendium/content/#{@path}" %> on GitHub. Learn more about <a href="/compendium/contributing">contributing to the Compendium</a>.
    </footer>
  </section>
</div>

<%= inline_svg_tag 'link.svg', id: 'link-icon' %>
