<div class="content grid">
  <% if @onboarding %>
    <h2 class="span-12">Welcome! Tell us a little about yourself.</h2>
  <% else %>
    <div class="span-8">
      <h1>Edit your profile</h1>
      <p>Keep your information up to date to ensure you’re only contacted by players looking for what you’re currently offering.</p>
    </div>
  <% end %>
</div>

<%= form_with model: @modder, url: profile_path, html: { class: 'form' } do |form| %>

  <div class="content grid">

    <div class="span-4 caption">
      <%= form.label :name, 'Modder name', class: 'label large' %>
      <p class="small">The name you use as a modder. This can be a brand name or your actual name, whichever you use to advertise your modding services. You can change this later if necessary.</p>
    </div>
    <div class="span-8 input-container">
      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :name,
        field_type: :text_field,
        label: false,
        options: { class: 'text-input large', placeholder: 'Something Something Customs' }
      } %>
    </div>

    <div class="span-4 caption">
      <%= form.label :bio, 'About you', class: 'label large' %>
      <p class="small">A short bio introducing yourself to people who see your profile. 500 characters max. Note that line breaks will not be preserved.</p>
    </div>
    <div class="span-8 input-container">
      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :bio,
        field_type: :text_area,
        label: false,
        options: { maxlength: 500, class: 'textarea height-medium', placeholder: 'I started modding controllers in 1973 and ...' }
      } %>
    </div>

    <div class="span-4 caption">
      <p class="label large">Logo</p>
      <p class="small">Upload a logo to display by your name. Recommended minimum size: 128 x 128 pixels. Maximum 500kb.</p>
    </div>

    <div class="span-8 input-container">
      <%=
        react_component "LogoSelector", {
          field_name: 'modder[logo]',
          logo_url: @modder.logo_url
        }
      %>
    </div>

    <div class="span-4 caption">
      <p class="label large">Location</p>
      <p class="small">Specify where you’re located so nearby players can find you.</p>
    </div>

    <div class="span-8 input-container">
      <%=
        react_component "LocationSelector", {
          model_name: 'modder',
          city: @modder.city,
          latitude: @modder.latitude,
          longitude: @modder.longitude
        }
      %>
    </div>

    <div class="span-4 caption">
      <p class="label large">Services offered</p>
      <p class="small">Select the services you’re currently offering. This will be displayed on your profile and used to filter search results. You can update this as often as needed to reflect your current offerings.</p>
    </div>

    <div class="span-8 input-container">
      <%=
        react_component "ServiceSelector", {
          field_name: 'modder[services]',
          all_services: ModderService::ALL_SERVICES.map { |slug, service| { value: slug, label: service[:name], color: service[:color] } },
          modder_services: @modder.modder_services.map { |modder_service|
            service = ModderService::ALL_SERVICES[modder_service.service.to_sym]
            {
              value: modder_service.service,
              label: service[:name],
              color: service[:color]
            }
          }
        }
      %>
    </div>

  </div>

  <div class="content">
    <%= form.submit (@onboarding ? 'Continue →' : 'Save'), class: 'button' %>
  </div>

<% end %>
