<div class="content grid">
  <% if @onboarding %>
    <h2 class="span-12">Welcome! Tell us a little about yourself.</h2>
  <% else %>
    <div class="span-8">
      <h1>Edit your profile</h1>
      <p>Keep your information up to date to ensure you’re only contacted by players looking for what you’re currently offering.</p>
    </div>
  <% end %>
</div>

<%= form_with model: @modder, url: profile_path, html: { class: 'form' } do |form| %>

  <div class="content grid">

    <% if !@onboarding %>
      <h2 class="span-12">General info</h2>
    <% end %>

    <div class="span-4 caption">
      <%= form.label :name, 'Modder name', class: 'label large' %>
      <p>The name you use as a modder. This can be a brand name or your actual name, whichever you use to advertise your modding services. You can change this later if necessary.</p>
    </div>
    <div class="span-8 input-container">
      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :name,
        field_type: :text_field,
        label: false,
        options: { autofocus: true, class: 'text-input large', placeholder: 'Something Something Customs' }
      } %>
    </div>

    <div class="span-4 caption">
      <%= form.label :bio, 'About you', class: 'label large' %>
      <p>A short bio introducing yourself to people who see your profile. 500 characters max. Note that line breaks will not be preserved.</p>
    </div>
    <div class="span-8 input-container">
      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :bio,
        field_type: :text_area,
        label: false,
        options: { autofocus: true, maxlength: 500, class: 'textarea height-medium', placeholder: 'I started modding controllers in 1973 and ...' }
      } %>
    </div>

  </div>

  <div class="content">
    <%= form.submit 'Continue →', class: 'button' %>
  </div>

<% end %>
