<div class="content grid">
  <% if @onboarding %>
    <h2 class="span-12">Welcome! Tell us a little about yourself.</h2>
  <% else %>
    <div class="span-8">
      <h1>Edit your profile</h1>
      <p>Keep your information up to date to best represent yourself to players looking for controllers or other services.</p>
    </div>
  <% end %>
</div>

<%= form_with model: @modder, url: profile_path, multipart: true, html: { class: 'form' } do |form| %>

  <div class="content grid">

    <div class="span-4 caption">
      <%= form.label :name, 'Modder name', class: 'label large' %> <i class="required" title="Required">*</i>
      <p class="small">The name you use as a modder. This can be a brand name or your actual name, whichever you use to advertise your modding services. You can change this later if necessary.</p>
    </div>
    <div class="span-8 input-container">
      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :name,
        field_type: :text_field,
        label: false,
        options: { class: 'text-input large', placeholder: 'Something Something Customs', autocomplete: 'off' }
      } %>
    </div>

    <div class="span-4 caption">
      <%= form.label :bio, 'About you', class: 'label large' %>
      <p class="small">A short bio introducing yourself to people who see your profile. 500 characters max. Note that line breaks will not be preserved.</p>
    </div>
    <div class="span-8 input-container">
      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :bio,
        field_type: :text_area,
        label: false,
        options: { maxlength: 500, class: 'textarea height-medium', placeholder: 'Optional' }
      } %>
    </div>

    <div class="span-4 caption">
      <p class="label large">Logo</p>
      <p class="small">Upload a logo to display by your name. Recommended minimum size: 128 x 128 pixels. Maximum 1MB.</p>
    </div>

    <div class="span-8 input-container">
      <%=
        react_component "LogoSelector", {
          field_name: 'modder[logo]',
          logo_url: @modder.logo_url
        }
      %>
    </div>

    <div class="span-4 caption">
      <p class="label large">Location <i title="Required" class="required">*</i></p>
      <p class="small">Specify where you’re located so nearby players can find you.</p>
    </div>

    <div class="span-8 input-container">
      <%=
        react_component "LocationSelector", {
          class: 'large',
          model_name: 'modder',
          city: @modder.city,
          latitude: @modder.latitude,
          longitude: @modder.longitude
        }
      %>

      <% if @modder.errors[:latitude].present? %>
        <p class="error-message">You must choose a location.</p>
      <% end %>
    </div>

    <div class="span-4 caption">
      <p class="label large">Services offered</p>
      <p class="small">Select the services you’re currently offering. This will be displayed on your profile and used to filter search results. You can update this as often as needed to reflect your current offerings.</p>
    </div>

    <div class="span-8 input-container">
      <%=
        react_component "ServiceSelector", {
          field_name: 'modder[services]',
          all_services: ModderService.enabled_services.map { |slug, service| { value: slug, label: service[:name], color: service[:color] } },
          selected_services: @modder.modder_services.map { |modder_service|
            service = ModderService::ALL_SERVICES[modder_service.service.to_sym]
            {
              value: modder_service.service,
              label: service[:name],
              color: service[:color]
            }
          }
        }
      %>
    </div>

    <div class="span-4 caption">
      <p class="label large">External links <i class="required" title="Required">*</i></p>
      <p class="small">Link viewers to your shop and/or social media pages. All links are optional, but you must have at least one to feature on your profile.</p>
    </div>

    <div class="span-8 input-container">

      <div class="field">
        <%= form.label :featured_link, class: 'label' %>
        <div class="select-input-container">
          <%= form.select :featured_link, Modder::FEATURED_LINK_OPTIONS, {}, { class: 'select-input' } %>
        </div>
      </div>

      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :website_url,
        field_type: :text_field,
        error_field: :message,
        label: 'Website',
        options: { maxlength: 500, class: 'text-input xlarge', placeholder: 'https://your-website.com', autocomplete: 'off' }
      } %>

      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :etsy_shop,
        field_type: :text_field,
        error_field: :message,
        label: 'Etsy shop',
        options: { maxlength: 50, class: 'text-input large', placeholder: 'YourShopName (not the full URL)', autocomplete: 'off' }
      } %>

      <%= render 'form_field', locals: {
        resource: @modder,
        form: form,
        field_name: :twitter_username,
        field_type: :text_field,
        error_field: :message,
        label: 'Twitter handle',
        options: { maxlength: 50, class: 'text-input large', placeholder: '@YourTwitterHandle', autocomplete: 'off' }
      } %>

    </div>

    <div class="span-4 caption">
      <%= form.label :status, 'Profile status', class: 'label large' %>
      <p class="small">Inactive profiles will not show up in search results or be visible to anyone but you.</p>
    </div>

    <div class="span-8 input-container">
      <div class="field">
        <div class="select-input-container">
          <%= form.select :status, Modder::STATUS_OPTIONS, {}, { class: 'select-input' } %>
        </div>
      </div>
    </div>

  </div>

  <div class="content">
    <%= form.submit (@onboarding ? 'Continue →' : 'Save'), class: 'button' %>
  </div>

<% end %>
