<ul>
  <% locals[:tree].each do |item| %>
    <li class="<%= 'current' if path_matches?(item[:path], @current_path) %>">
      <%= link_to item[:title], item[:path], class: path_matches?(item[:path], @current_path, complete_match: true) ? 'current' : '' %>
      <% if item[:children].present? %>
        <%= check_box_tag "menu-toggle-#{item[:path].parameterize}", 'a', path_matches?(item[:path], @current_path) %>
        <label for="menu-toggle-<%= item[:path].parameterize %>">
          <%= inline_svg_tag 'plus.svg', class: 'open' %>
          <%= inline_svg_tag 'minus.svg', class: 'close' %>
        </label>
        <%= menu_tree(item[:children], item[:path]) %>
      <% end %>
    </li>
  <% end %>
</ul>
