<div class="content">
  <h1>Modder search</h1>
</div>

<div class="content grid search-fields">

  <%= form_with url: modders_path, method: 'get', html: { class: "form span-4 sidebar" } do |form| %>

    <div class="field">
      <label class="label">Tags</label>
      <%=
        react_component "ServiceSelector", {
          field_name: 'services',
          all_services: ModderService.enabled_services.map { |slug, service| { value: slug, label: service[:name], color: service[:color], color_dark: service[:color_dark] || service[:color], solid: service[:solid].present? } },
          selected_services: @services.map { |slug|
            service = ModderService::ALL_SERVICES[slug.to_sym]
            next if service.blank?
            {
              value: slug,
              label: service[:name],
              color: service[:color],
              color_dark: service[:color_dark],
              solid: service[:solid].present?
            }
          },
          comma_delimited: true
        }
      %>
    </div>

    <div class="field">
      <label class="label">Location</label>
      <%=
        react_component "LocationSelector", {
          class: "search full-width",
          geolocator: true,
          city: @city || "",
          latitude: @latitude || "",
          longitude: @longitude || ""
        }
      %>
    </div>

    <div class="field" style="margin-top: 32px;">
      <div class="checkbox">
        <input type="checkbox" id="services-visible" <%= @services_visible ? 'checked' : '' %>>
        <%= inline_svg_tag 'check.svg' %>
        <label for="services-visible">Show tags in results</label>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Update search', name: nil, class: 'button' %>
    </div>

    <%= form.hidden_field :map, value: 0, id: 'map-input' %>

  <% end %>

  <section class="results span-8 <%= 'map-visible' if @map %>" id="modder-search-results" style="--service-display: <%= @services_visible ? 'block' : 'none' %>;">

    <% if @results.empty? %>

      <h2>No results</h2>
      <p>Refine your search criteria and try again.</p>

    <% else %>

      <%=
        react_component 'ModderMap', {
          latitude: @latitude,
          longitude: @longitude,
          interactive: true,
          map_pin_image_url: image_url('map-pin.png'),
          map_visible: @map,
          modders: @results.map { |modder|
            {
              url: modder_url(modder),
              slug: modder.slug,
              name: modder.name,
              city: modder.city,
              latitude: modder.latitude,
              longitude: modder.longitude
            }
          }
        }
      %>

      <div class="heading">
        <h2><%= @results.length %> <%= 'result'.pluralize(@results.length) %></h2>
        <button type="button" class="link map-toggle show-map"><%= inline_svg_tag 'map.svg' %>Show map</button>
        <button type="button" class="link map-toggle hide-map"><%= inline_svg_tag 'map.svg' %>Hide map</button>
      </div>

    <% end %>

    <% @results.each do |modder| %>

      <section class="modder-info">
        <% if modder.modder_photos.any? %>
          <div class="photos">
            <div class="photo-container">
              <% modder.modder_photos.map do |modder_photo| %>
                <%= image_tag modder_photo.photo.thumb.url, width: modder_photo.thumb_display_width / 2, height: modder_photo.thumb_display_height / 2 %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="meta">
          <%= link_to modder do %>
            <figure class="logo" style="<%= "background-image: url(#{modder.logo_url})" if modder.logo.present? %>">
              <% if modder.logo.blank? %>
                <%= inline_svg_tag 'gcc.svg' %>
              <% end %>
            </figure>
          <% end %>
          <div>
            <h3><%= link_to modder.name, modder %></h3>
            <p class="city">
              <%= inline_svg_tag 'pin.svg' %>
              <%= modder.city %>
              <% if modder.vetted? %>
                <%= link_to vetting_path, class: 'vetted', title: 'This modder has been vetted by an administrator. Click for more information.' do %><%= inline_svg_tag 'check.svg' %>Vetted<% end %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="services">
          <ol>
            <% modder.modder_services.map do |service| %>
              <% svc = ModderService::ALL_SERVICES[service.service.to_sym] %>
              <li class="service-pill small<%= ' solid' if svc[:solid] %>" style="--service-color: <%= svc[:color] %>; --service-color-dark: <%= svc[:color_dark] || svc[:color] %>;"><%= svc[:name] %></li>
            <% end %>
          </ol>
        </div>
      </section>

    <% end %>
  </section>

</div>
