<div class="content grid">

  <% if current_user.present? && current_user.admin? %>
    <nav class="span-12 admin-toolbar">
      <%= link_to 'Edit this profile', admin_edit_profile_path(@modder) %>
      <%= link_to 'Create new profile', new_profile_path %>
    </nav>
  <% end %>

  <% if @modder.unclaimed? %>
    <section class="span-12 unclaimed-notice">
      <figure><%= inline_svg_tag 'info.svg' %></figure>
      <div>
        <p>This profile is not managed by the modder and may have inaccuracies. For the most up-to-date info, contact this modder directly.</p>
        <p>Is this you? Contact us <a href="https://discord.gg/HwtPU7tkCT" target="_blank">via Discord</a> to claim this profile!</p>
      </div>
    </section>
  <% end %>

  <section class="span-12 photos <%= 'signed-in-modder' if current_modder == @modder %> <%= 'empty' unless @modder.modder_photos.any? %>">
    <% if current_modder == @modder %>
      <%=
        react_component 'PhotoManager', {
          photos: @modder.modder_photos.map { |modder_photo|
            {
              uuid: modder_photo.uuid,
              url: modder_photo.photo.thumb.url,
              width: modder_photo.thumb_display_width,
              height: modder_photo.thumb_display_height
            }
          }
        }
      %>
    <% else %>
      <div class="photo-container">
        <% @modder.modder_photos.map do |modder_photo| %>
          <%= image_tag modder_photo.photo.thumb.url, width: modder_photo.thumb_display_width, height: modder_photo.thumb_display_height %>
        <% end %>
      </div>
    <% end %>
  </section>

  <section class="span-8 modder-info">
    <div class="meta">
      <figure class="logo" style="<%= "background-image: url(#{@modder.logo_url})" if @modder.logo.present? %>">
        <% if @modder.logo.blank? %>
          <%= inline_svg_tag 'gcc.svg' %>
        <% end %>
      </figure>
      <div>
        <h1><%= @modder.name %></h1>
        <p class="city">
          <%= inline_svg_tag 'pin.svg' %><%= @modder.formatted_city %>
        </p>
        <div class="status">
          <div class="status-pill <%= @modder.status %>"><%= @modder.status.titleize %></div>
          <% if @modder.vetted? %>
            <%= link_to vetting_path, class: 'status-pill vetted', title: 'This modder has been vetted by an admin. Click for more information.' do %><%= inline_svg_tag 'check.svg' %>Vetted<% end %>
          <% end %>
        </div>
        <%= format_bio(@modder.bio) %>
      </div>
    </div>
    <div class="services">
      <ol>
        <% @modder.modder_services.map do |service| %>
          <% svc = ModderService::ALL_SERVICES[service.service.to_sym] %>
          <li class="service-pill<%= ' solid' if svc[:solid] %>" style="--service-color: <%= svc[:color] %>; --service-color-dark: <%= svc[:color_dark] || svc[:color] %>;"><%= svc[:name] %></li>
        <% end %>
      </ol>
    </div>
  </section>

  <section class="span-4 sidebar">
    <% if @modder.featured_link == 'discord_username' %>
      <a title="Click to copy" class="button discord-username">
        <%= inline_svg_tag 'discord.svg', class: 'link-icon' %>
        <span><%= @modder.discord_username %></span>
        <%= inline_svg_tag 'copy.svg', class: 'external-icon' %>
      </a>
    <% else %>
      <%= link_to @modder.featured_link_url, target: '_blank', class: 'button' do %>
        <% if @modder.featured_link == 'twitter_username' %>
          <%= inline_svg_tag 'twitter.svg', class: 'link-icon' %>
        <% elsif @modder.featured_link == 'instagram_username' %>
          <%= inline_svg_tag 'instagram.svg', class: 'link-icon' %>
        <% elsif @modder.featured_link == 'etsy_shop' %>
          <%= inline_svg_tag 'etsy.svg', class: 'link-icon' %>
        <% end %>
        <%= @modder.featured_link_text %>
        <%= inline_svg_tag 'external.svg', class: 'external-icon' %>
      <% end %>
    <% end %>

    <% if @modder.website_url.present? && @modder.featured_link != 'website_url' %>
      <%= link_to @modder.website_url, target: '_blank' do %><%= inline_svg_tag 'link.svg' %><%= URI.parse(@modder.website_url).host %><% end %>
    <% end %>

    <% if @modder.etsy_shop.present? && @modder.featured_link != 'etsy_shop' %>
      <%= link_to @modder.etsy_url, target: '_blank' do %><%= inline_svg_tag 'etsy.svg' %><%= @modder.etsy_shop_name %><% end %>
    <% end %>

    <% if @modder.twitter_username.present? && @modder.featured_link != 'twitter_username' %>
      <%= link_to @modder.twitter_url, target: '_blank' do %><%= inline_svg_tag 'twitter.svg' %><%= @modder.formatted_twitter_username %><% end %>
    <% end %>

    <% if @modder.instagram_username.present? && @modder.featured_link != 'instagram_username' %>
      <%= link_to @modder.instagram_url, target: '_blank' do %><%= inline_svg_tag 'instagram.svg' %><%= @modder.formatted_instagram_username %><% end %>
    <% end %>

    <% if @modder.discord_username.present? && @modder.featured_link != 'discord_username' %>
      <a title="Click to copy" class="discord-username"><%= inline_svg_tag 'discord.svg' %><span><%= @modder.discord_username %></span></a>
    <% end %>

    <p class="small">Joined <%= @modder.updated_at.strftime('%b %Y') %></p>
    <p class="small">Last updated <%= time_ago_in_words(@modder.updated_at) %> ago</p>

    <p class="small"><%= link_to 'Report this profile', report_modder_path %></p>
  </section>

  <section class="span-12 location">
    <%=
      react_component 'ModderMap', {
        latitude: @modder.latitude,
        longitude: @modder.longitude
      }
    %>
  </section>

  <%= render 'get_listed' unless signed_in? %>

</div>
