<div class="content grid">

  <section class="span-12 photos">
    photos
  </section>

  <section class="span-8 info">
    <div class="meta">
      <figure class="logo" style="<%= "background-image: url(#{@modder.logo_url})" if @modder.logo.present? %>">
        <% if @modder.logo.blank? %>
          <%= inline_svg_tag 'gcc.svg' %>
        <% end %>
      </figure>
      <div>
        <h1><%= @modder.name %></h1>
        <p class="city"><%= inline_svg_tag 'pin' %><%= @modder.city %></p>
        <p><%= @modder.bio %></p>
      </div>
    </div>
    <div class="services">
      <ol>
        <% @modder.modder_services.map do |service| %>
          <% svc = ModderService::ALL_SERVICES[service.service.to_sym] %>
          <li style="--service-color: <%= svc[:color] %>"><%= svc[:name] %></li>
        <% end %>
      </ol>
    </div>
  </section>

  <nav class="span-4 links">
    <%= link_to 'https://google.com', class: 'button' do %>Visit website<%= inline_svg_tag 'external' %><% end %>
    <a href="#"><%= inline_svg_tag 'twitter' %> @VulpineCustoms</a>
    <a href="#"><%= inline_svg_tag 'instagram' %> VulpineCustoms</a>
    <a href="#"><%= inline_svg_tag 'email' %> hello@vulpinecustoms.com</a>
  </nav>

  <section class="span-12 location">
    <%=
      react_component 'ModderMap', {
        modder_name: 'blah',
        latitude: @modder.latitude,
        longitude: @modder.longitude
      }
    %>
  </section>

  <%= render 'get_listed' %>

</div>
