<div class="content grid">

  <section class="span-12 photos <%= 'signed-in-modder' if current_modder == @modder %> <%= 'empty' unless @modder.modder_photos.any? %>">
    <% if current_modder == @modder %>
      <%=
        react_component 'PhotoManager', {
          photos: @modder.modder_photos.map { |modder_photo|
            {
              uuid: modder_photo.uuid,
              url: modder_photo.photo_url,
              width: modder_photo.thumb_display_width,
              height: modder_photo.thumb_display_height
            }
          }
        }
      %>
    <% else %>
      <div class="photo-container">
        <% @modder.modder_photos.map do |modder_photo| %>
          <%= image_tag modder_photo.photo_url, width: modder_photo.thumb_display_width, height: modder_photo.thumb_display_height %>
        <% end %>
      </div>
    <% end %>
  </section>

  <section class="span-8 modder-info">
    <div class="meta">
      <figure class="logo" style="<%= "background-image: url(#{@modder.logo_url})" if @modder.logo.present? %>">
        <% if @modder.logo.blank? %>
          <%= inline_svg_tag 'gcc.svg' %>
        <% end %>
      </figure>
      <div>
        <h1><%= @modder.name %></h1>
        <p class="city"><%= inline_svg_tag 'pin' %><%= @modder.city %></p>
        <p><%= @modder.bio %></p>
      </div>
    </div>
    <div class="services">
      <ol>
        <% @modder.modder_services.map do |service| %>
          <% svc = ModderService::ALL_SERVICES[service.service.to_sym] %>
          <li style="--service-color: <%= svc[:color] %>"><%= svc[:name] %></li>
        <% end %>
      </ol>
    </div>
  </section>

  <section class="span-4 sidebar">
    <%= link_to @modder.featured_link_url, target: '_blank', class: 'button' do %><%= @modder.featured_link_text %><%= inline_svg_tag 'external' %><% end %>

    <% if @modder.website_url.present? && @modder.featured_link != 'website_url' %>
      <%= link_to @modder.website_url, target: '_blank' do %><%= inline_svg_tag 'link' %><%= URI.parse(@modder.website_url).host %><% end %>
    <% end %>

    <% if @modder.etsy_shop.present? && @modder.featured_link != 'etsy_shop' %>
      <%= link_to @modder.etsy_url, target: '_blank' do %><%= inline_svg_tag 'etsy' %><%= @modder.etsy_shop %><% end %>
    <% end %>

    <% if @modder.twitter_username.present? && @modder.featured_link != 'twitter_username' %>
      <%= link_to @modder.twitter_url, target: '_blank' do %><%= inline_svg_tag 'twitter' %><%= @modder.formatted_twitter_username %><% end %>
    <% end %>

    <p class="small">Joined <%= @modder.updated_at.strftime('%b %Y') %></p>
    <p class="small">Last updated <%= time_ago_in_words(@modder.updated_at) %> ago</p>
  </section>

  <section class="span-12 location">
    <%=
      react_component 'ModderMap', {
        latitude: @modder.latitude,
        longitude: @modder.longitude
      }
    %>
  </section>

  <%= render 'get_listed' %>

</div>
