<div class="content grid">

  <section class="span-8">
    <h1>Invite people to DOL-003.info</h1>
    <p class="big">DOL-003.info is currently an invite-only service. As a member, you can invite up to 5 other modders or artists every 30 days.</p>

    <% if @available_invitations.positive? %>
      <p>You currently have <strong><%= pluralize(@available_invitations, 'invitation') %></strong>.</p>
      <p>To invite someone, simply provide their email address and we’ll send them an email with a link to sign up.</p>
      <%= form_with url: invitations_path, html: { method: :post, class: 'form' } do |form| %>

        <div class="field">
          <%= form.label :email, 'Email address', class: 'label' %>
          <%= form.email_field :email, class: 'text-input large', placeholder: 'someone@domain.com' %>
        </div>

        <div class="actions">
          <%= form.submit 'Send invitation', class: 'button' %>
        </div>

      <% end %>
    <% else %>
      <p>You do not currently have any invitations. Check back later to invite more people.</p>
    <% end %>
  </section>
</div>
