<div class="content grid">

  <section class="span-8">
    <h1>Invite people to DOL-003.info</h1>
    <% if @unlimited_invitations %>
      <p class="big">DOL-003.info is currently an invite-only service. As a member, you can invite other modders or artists to join.</p>
    <% else %>
      <p class="big">DOL-003.info is currently an invite-only service. As a member, you can invite up to <%= @invites_per_month %> other modders or artists every 30 days.</p>
    <% end %>

    <% if @unlimited_invitations || @available_invitations.positive? %>
      <p>You currently have <strong id="available-invitations"><%= @unlimited_invitations ? 'unlimited invitations' : pluralize(@available_invitations, 'invitation') %></strong>.</p>
      <p>To invite someone, you can provide their email address and we’ll send them an email with a link to sign up, or you can copy an invite link to give someone.</p>
    <% end %>
  </section>

  <% if @unlimited_invitations || @available_invitations.positive? %>
    <section class="span-8">
      <h2>Invite by email</h2>

      <%= form_with url: invitations_path, html: { method: :post, class: 'form' } do |form| %>

        <div class="field">
          <%= form.label :email, 'Email address', class: 'label' %>
          <%= form.email_field :email, class: 'text-input large', placeholder: 'someone@domain.com' %>
        </div>

        <div class="actions">
          <%= form.submit 'Send invitation', class: 'button' %>
        </div>

      <% end %>
    </section>

    <section class="span-8">
      <h2>Invite with link</h2>
      <% unless @unlimited_invitations %>
        <p>Clicking this button will immediately use one of your available invitations.</p>
      <% end %>
      <p>
        <%=
          react_component 'InvitationLinkCopier', {
            invitations_path:,
            csrf_token: form_authenticity_token
          }
        %>
      </p>
    </section>
  <% else %>
    <section class="span-8">
      <p>You do not currently have any invitations available. Check back later to invite more people.</p>
    </section>
  <% end %>
</div>
