<footer class="dark">
  <div class="content grid">

    <div class="span-6">
      <p class="small">DOL-003 is the product number of the original Nintendo GameCube controller, and DOL-003.info exists as an unofficial repository of GCC information and community modders. <%= link_to 'Learn more', about_path %></p>
      <p class="small">© <%= Date.today.year %>. All rights reserved.</p>
      <p class="small"><%= link_to 'Terms of Service', terms_path %> • <%= link_to 'Privacy Policy', privacy_path %> • <%= link_to 'House Rules', rules_path %></p>
    </div>

    <div class="span-6 sign-in-link">
      <%= link_to 'Modder sign in', new_user_session_path, class: 'button secondary' %>
    </div>

  </div>
</footer>
