<header>
  <div class="content">

    <%= link_to 'DOL-003', root_url(subdomain: ''), class: 'logo' %>

    <label for="menu-toggle" id="menu-toggle-button"><%= inline_svg_tag 'menu.svg' %></label>
    <input type="checkbox" id="menu-toggle">
    <ul class="menu">
      <% if flag_enabled? :compendium %>
        <li><%= link_to 'Compendium', compendium_url %></li>
      <% end %>
      <li><%= link_to 'Modder search', modders_url(subdomain: '') %></li>
      <% if user_signed_in? && current_modder.blank? %>
        <li><%= link_to 'Set up profile', edit_profile_url(subdomain: '') %></li>
      <% end %>
      <li class="close"><label for="menu-toggle" id="menu-close"><%= inline_svg_tag 'x.svg' %></label></li>
      <% if flag_enabled? :jump_to_modder %>
        <li class="quick-search">
          <%=
            react_component 'QuickSearch', {
              modders: Modder.active.map do |modder|
                {
                  name: modder.name,
                  logo_url: modder.logo.present? ? modder.logo_url : nil,
                  link: modder_url(modder, subdomain: '')
                }
              end,
              pages: Compendium.all_pages
            }
          %>
        </li>
      <% end %>
    </ul>

    <% if current_modder.present? %>
      <div class="user-menu">

        <input type="checkbox" id="user-menu-toggle">

        <div class="overlay-trim"></div>

        <label for="user-menu-toggle">
          <figure class="avatar" style="<%= "background-image: url(#{current_modder.logo_url})" if current_modder&.logo.present? %>">
            <% if current_modder&.logo.blank? %>
              <%= inline_svg_tag 'gcc.svg' %>
            <% end %>
          </figure>
        </label>

        <ul class="overlay">
          <li class="name"><%= link_to current_modder.name, modder_url(current_modder, subdomain: ''), class: 'big' %></li>
          <li><%= link_to 'Edit profile', edit_profile_url(subdomain: '') %></li>
          <li><%= link_to 'Account settings', edit_user_registration_url(subdomain: '') %></li>
          <li><%= link_to 'Invite people', new_invitation_url(subdomain: '') %></li>
          <li><%= link_to 'Sign out', destroy_user_session_url(subdomain: ''), method: :delete %></li>
        </ul>

      </div>
    <% end %>

  </div>
</header>
