<header>
  <div class="content">
    <a href="/" class="logo">DOL-003</a>
    <ul class="menu">
      <li><a href="#">Find a modder</a></li>
      <% if current_modder.present? %>
        <li class="user-menu">

          <input type="checkbox" id="user-menu-toggle">

          <div class="overlay-trim"></div>

          <label for="user-menu-toggle">
            <figure class="avatar" style="<%= "background-image: url(#{@modder.logo_url})" if @modder&.logo.present? %>">
              <% if @modder&.logo.blank? %>
                <%= inline_svg_tag 'gcc.svg' %>
              <% end %>
            </figure>
          </label>

          <ul class="overlay">
            <li class="name"><%= link_to current_modder.name, modder_path(current_modder), class: 'big' %></li>
            <li><%= link_to 'Edit profile', edit_profile_path %></li>
            <li><a href="#">Account settings</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>

        </li>
      <% elsif !user_signed_in? %>
        <li><%= link_to 'Get listed', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</header>
