<div class="intro" style="background-image:url(<%= image_path 'index-bg.jpg' %>)">
  <div class="content grid">
    <section class="span-8">
      <h1>All about <strong>GameCube controllers</strong></h1>
      <p class="big">Learn about modding GameCube controllers (GCCs) and connect with GCC modders and artists around the world. <a href="/about">About DOL-003.info</a>
    </section>
  </div>
</div>

<div class="intro dark" style="background-image:url(<%= image_path 'index-bg-dark.jpg' %>)">
  <div class="content grid">
    <section class="span-8">
      <h1>All about <strong>GameCube controllers</strong></h1>
      <p class="big">Learn about modding GameCube controllers (GCCs) and connect with GCC modders and artists around the world. <a href="/about">About DOL-003.info</a>
    </section>
  </div>
</div>

<div class="content grid">

  <section class="span-8">
    <h2>Find modders by <strong>tag</strong></h2>
    <p>Search for controller modders based on what services or parts they offer.</p>
    <ul class="service-list">
      <% ModderService.enabled_services.map do |service| %>
        <li><%= service_link(service) %></li>
      <% end %>
    </ul>
  </section>

  <section class="span-4">

    <h2>Browse the <%= link_to 'map', modders_path(map: 1) %></h2>
    <p>Find a modder near you.</p>

    <%= form_with url: modders_path, method: 'get', html: { class: 'location-search' } do |form| %>
      <%=
        react_component "LocationSelector", {
          class: 'search',
          autosubmit: true,
          geolocator: true
        }
      %>
      <%= form.submit 'Search', class: 'button' %>
      <%= form.hidden_field :map, value: 1 %>
    <% end %>

    <h2>Start <strong>learning</strong></h2>
    <p>The Compendium is the ultimate hub for GCC modding knowledge.</p>
    <p class="actions"><%= link_to 'View Compendium →', compendium_path, class: 'button secondary' %></p>

  </section>

  <% if @featured_modders.count.count >= 3 %>
    <section class="span-12">
      <h2>Featured modders</h2>
      <div class="featured-modders">
        <% @featured_modders.each do |modder| %>
          <div>
            <%= link_to modder do %>
              <figure class="featured-photo" style="background-image: url(<%= modder.modder_photos.first.photo.thumb.url %>)"></figure>
            <% end %>
            <h3>
              <%= link_to modder do %>
                <figure class="logo" style="<%= "background-image: url(#{modder.logo_url})" if modder.logo.present? %>">
                  <% if modder.logo.blank? %>
                    <%= inline_svg_tag 'gcc.svg' %>
                  <% end %>
                </figure>
                <%= modder.name %>
              <% end %>
            </h3>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>

  <%= render 'get_listed' unless signed_in? %>

</div>
