<div class="intro" style="background-image:url(<%= image_path 'index-bg.jpg' %>)">
  <div class="content grid">
    <section class="span-8">
      <h1>The ultimate directory<br>of GameCube controller modders</h1>
      <p class="big">Find your next custom controller, or connect with controller modders who can help with diagnostics, repairs, or upgrades. <a href="/about">About DOL-003.info</a>
    </section>
  </div>
</div>

<div class="content grid">

  <section class="span-8">
    <h2>Search by <strong>service</strong></h2>
    <ul class="service-list">
      <% ModderService::ALL_SERVICES.map.with_index do |service| %>
        <li>
          <%= link_to service[1][:name], modders_path(services: [service[0]].to_json), class: 'service-pill interactive', style: "--service-color: #{service[1][:color]}" %>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="span-4">

    <h2>Browse the <strong>map</strong></h2>
    <p>Support local makers. Find a modder near you.</p>

    <%= form_with url: modders_path, method: 'get', html: { class: 'location-search' } do |form| %>
      <%=
        react_component "LocationSelector", {
          class: 'search',
          autosubmit: true,
          geolocator: true
        }
      %>
      <%= form.submit 'Search', class: 'button' %>
      <%= form.hidden_field :map, value: 1 %>
    <% end %>

  </section>

  <% if @featured_modders.count.count >= 3 %>
    <section class="span-12">
      <h2>Featured modders</h2>
      <div class="featured-modders">
        <% @featured_modders.each do |modder| %>
          <div>
            <%= link_to modder do %>
              <figure class="featured-photo" style="background-image: url(<%= modder.modder_photos.first.photo.thumb.url %>)"></figure>
            <% end %>
            <h3><%= link_to modder.name, modder %></h3>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>

  <%= render 'get_listed' %>

</div>
