<!DOCTYPE html>
<html class="<%= 'supports-dark-mode' if flag_enabled? :dark_mode %>">

  <head>

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta property="og:description" content="<%= page_description %>">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if controller_name != 'exceptions' %>
      <link rel="canonical" href="<%= canonical_link %>">
      <link property="og:url" content="<%= canonical_link %>">
      <link property="og:site_name" content="DOL-003.info">
      <meta property="og:title" content="<%= page_title %>">
      <meta property="og:type" content="website">
      <meta property="og:image" content="<%= request.base_url %>/images/logo-large.png?2231">
      <meta name="twitter:card" content="summary">
    <% end %>

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="https://use.typekit.net/uju8khj.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'base' %>
    <%= vite_stylesheet_tag 'base.scss' %>
    <%= vite_typescript_tag "layout-#{current_layout}" %>
    <%= vite_stylesheet_tag "layout-#{current_layout}.scss" %>
    <%= vite_typescript_tag controller_name %>
    <%= vite_stylesheet_tag "#{controller_name}.scss" %>

  </head>

  <body class="<%= controller_name %> <%= action_name %> layout-<%= current_layout %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>

</html>
