<!DOCTYPE html>
<html>

  <head>

    <title>Controllers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/uju8khj.css">
    <script src="https://cdn.passage.id/passage-web.js"></script>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'base' %>
    <%= vite_stylesheet_tag 'base.scss' %>
    <%= vite_typescript_tag "layout-#{current_layout}" %>
    <%= vite_stylesheet_tag "layout-#{current_layout}.scss" %>
    <%= vite_typescript_tag controller_name %>
    <%= vite_stylesheet_tag "#{controller_name}.scss" %>

  </head>

  <body class="<%= controller_name %> <%= action_name %> layout-<%= current_layout %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>

</html>
