<% content_for(:content) do %>

  <%= render 'header' %>

  <main>

    <div class="flash">
      <% flash.each do |type, message| %>
        <p class="<%= type %>"><%= message %></p>
      <% end %>
    </div>

    <%= yield %>
  </main>

  <%= render 'footer' %>

<% end %>

<%= render template: 'layouts/application' %>
