<% content_for(:content) do %>

  <%= render 'header' %>

  <main>

    <div class="flash">
      <% flash.each do |type, message| %>
        <% key = (0...8).map { (65 + rand(26)).chr }.join %>
        <input type="checkbox" id="<%= key %>">
        <div class="<%= type %>">
          <p><%= message %></p>
          <label for="<%= key %>"><%= inline_svg_tag 'x.svg' %></label>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </main>

  <%= render 'footer' %>

<% end %>

<%= render template: 'layouts/application' %>
