<% content_for(:content) do %>

  <%= render 'header' %>

  <div class="flash">
    <% flash.each do |type, message| %>
      <p class="<%= type %>"><%= message %></p>
    <% end %>
  </div>

  <main>
    <%= yield %>
  </main>

  <%= render 'footer' %>

<% end %>

<%= render template: 'layouts/application' %>
